
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Thống kê số đoàn</h2>

@model IEnumerable<TourCommon.DAL.SoDoanTour>

@Html.Partial("~/Views/Shared/KhoangThoiGianPartial.cshtml", "SoDoan");

@{
    if (Model != null)
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("Tên tour")
                </th>
                <th>
                    @Html.DisplayName("Số đoàn")
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.tour.TenTour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoDoan)
                    </td>
                </tr>
            }
            </table>
        }
    }

